<div class="p-fluid" [formGroup]="employeeForm">
    <!-- ID (Hidden field for updates) -->
    <input type="hidden" formControlName="id" />
  
    <div class="field">
      <label for="firstnameEn">{{"FIRST_NAME" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="firstnameEn" type="text" pInputText formControlName="firstnameEn" />
    </div>
  
    <div class="field">
      <label for="firstnameRu">{{"FIRST_NAME" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="firstnameRu" type="text" pInputText formControlName="firstnameRu" />
    </div>
  
    <div class="field">
      <label for="lastnameEn">{{"LAST_NAME" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="lastnameEn" type="text" pInputText formControlName="lastnameEn" />
    </div>
  
    <div class="field">
      <label for="lastnameRu">{{"LAST_NAME" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="lastnameRu" type="text" pInputText formControlName="lastnameRu" />
    </div>
  
    <div class="field">
      <label for="gender">{{"GENDER" | translate}}</label>
      <p-dropdown id="gender" 
        formControlName="gender" 
        [options]="genders" 
        placeholder="{{'SELECT' | translate}}"
        optionLabel="{{'NAME_PROPERTY' | translate}}"
        optionValue="id"
        ></p-dropdown>
    </div>
  
    <div class="field">
      <label for="phone1">{{"PHONE_NUMBER" | translate}} 1</label>
      <input id="phone1" type="text" pInputText formControlName="phone1" />
    </div>
  
    <div class="field">
      <label for="phone2">{{"PHONE_NUMBER" | translate}} 2</label>
      <input id="phone2" type="text" pInputText formControlName="phone2" />
    </div>
  
    <div class="field">
      <label for="email">{{"EMAIL" | translate}}</label>
      <input id="email" type="email" pInputText formControlName="email" />
    </div>
  
    <div class="field">
      <label for="category">{{"CATEGORY" | translate}}</label>
      <p-dropdown id="category" 
        formControlName="category" 
        [options]="categories" 
        placeholder="{{'SELECT' | translate}}"
        optionLabel="{{'NAME_PROPERTY' | translate}}"
        optionValue="id"
      ></p-dropdown>
    </div>
  
    <div class="field">
      <label for="nationalityEn">{{"NATIONALITY" | translate}} ({{"ENGLISH" | translate}})</label>
      <input id="nationalityEn" type="text" pInputText formControlName="nationalityEn" />
    </div>
    <div class="field">
      <label for="nationalityUz">{{"NATIONALITY" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="nationalityUz" type="text" pInputText formControlName="nationalityUz" />
    </div>
    <div class="field">
      <label for="nationalityRu">{{"NATIONALITY" | translate}} ({{"RUSSIAN" | translate}})</label>
      <input id="nationalityRu" type="text" pInputText formControlName="nationalityRu" />
    </div>
    <div class="field">
      <label for="nationalityUzRu">{{"NATIONALITY" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="nationalityUzRu" type="text" pInputText formControlName="nationalityUzRu" />
    </div>
    <div class="field">
      <label for="nationalityKaa">{{"NATIONALITY" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <input id="nationalityKaa" type="text" pInputText formControlName="nationalityKaa" />
    </div>
  
    <div class="field">
      <label for="birthday">{{"BIRTHDATE" | translate}}</label>
      <input id="birthday" type="date" pInputText formControlName="birthday" />
    </div>
  
    <div class="field">
      <label for="birthPlaceUz">{{"BIRTH_PLACE" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="birthPlaceUz" type="text" pInputText formControlName="birthPlaceUz" />
    </div>
    <div class="field">
      <label for="birthPlaceEn">{{"BIRTH_PLACE" | translate}} ({{"ENGLISH" | translate}})</label>
      <input id="birthPlaceEn" type="text" pInputText formControlName="birthPlaceEn" />
    </div>
    <div class="field">
      <label for="birthPlaceRu">{{"BIRTH_PLACE" | translate}} ({{"RUSSIAN" | translate}})</label>
      <input id="birthPlaceRu" type="text" pInputText formControlName="birthPlaceRu" />
    </div>
    <div class="field">
      <label for="birthPlaceUzRu">{{"BIRTH_PLACE" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="birthPlaceUzRu" type="text" pInputText formControlName="birthPlaceUzRu" />
    </div>
    <div class="field">
      <label for="birthPlaceKaa">{{"BIRTH_PLACE" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <input id="birthPlaceKaa" type="text" pInputText formControlName="birthPlaceKaa" />
    </div>
  
    <div class="field">
      <label for="positionEn">{{"POSITION" | translate}} ({{"ENGLISH" | translate}})</label>
      <input id="positionEn" type="text" pInputText formControlName="positionEn" />
    </div>
    <div class="field">
      <label for="positionUz">{{"POSITION" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="positionUz" type="text" pInputText formControlName="positionUz" />
    </div>
    <div class="field">
      <label for="positionRu">{{"POSITION" | translate}} ({{"RUSSIAN" | translate}})</label>
      <input id="positionRu" type="text" pInputText formControlName="positionRu" />
    </div>
    <div class="field">
      <label for="positionUzRu">{{"POSITION" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="positionUzRu" type="text" pInputText formControlName="positionUzRu" />
    </div>
    <div class="field">
      <label for="positionKaa">{{"POSITION" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <input id="positionKaa" type="text" pInputText formControlName="positionKaa" />
    </div>
  
    <div class="field">
       <label for="workFromDate">{{"WORK_FROM_DATE" | translate}}</label> 
       <input id="workFromDate" type="date" pInputText formControlName="workFromDate" /> 
    </div>
  
    <div class="field">
      <label for="workPlaceUz">{{"WORK_PLACE" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="workPlaceUz" type="text" pInputText formControlName="workPlaceUz" />
    </div>
    <div class="field">
      <label for="workPlaceEn">{{"WORK_PLACE" | translate}} ({{"ENGLISH" | translate}})</label>
      <input id="workPlaceEn" type="text" pInputText formControlName="workPlaceEn" />
    </div>
    <div class="field">
      <label for="workPlaceRu">{{"WORK_PLACE" | translate}} ({{"RUSSIAN" | translate}})</label>
      <input id="workPlaceRu" type="text" pInputText formControlName="workPlaceRu" />
    </div>
    <div class="field">
      <label for="workPlaceUzRu">{{"WORK_PLACE" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="workPlaceUzRu" type="text" pInputText formControlName="workPlaceUzRu" />
    </div>
    <div class="field">
      <label for="workPlaceKaa">{{"WORK_PLACE" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <input id="workPlaceKaa" type="text" pInputText formControlName="workPlaceKaa" />
    </div>
  
    <div class="field">
      <label for="receptionTimeUz">{{"RECEPTION_TIME" | translate}} ({{"UZBEK" | translate}})</label>
      <textarea id="receptionTimeUz" pInputTextarea formControlName="receptionTimeUz"></textarea>
    </div>
    <div class="field">
      <label for="receptionTimeEn">{{"RECEPTION_TIME" | translate}} ({{"ENGLISH" | translate}})</label>
      <textarea id="receptionTimeEn" pInputTextarea formControlName="receptionTimeEn"></textarea>
    </div>
    <div class="field">
      <label for="receptionTimeRu">{{"RECEPTION_TIME" | translate}} ({{"RUSSIAN" | translate}})</label>
      <textarea id="receptionTimeRu" pInputTextarea formControlName="receptionTimeRu"></textarea>
    </div>
    <div class="field">
      <label for="receptionTimeUzRu">{{"RECEPTION_TIME" | translate}} ({{"CYRILLIC" | translate}})</label>
      <textarea id="receptionTimeUzRu" pInputTextarea formControlName="receptionTimeUzRu"></textarea>
    </div>
    <div class="field">
      <label for="receptionTimeKaa">{{"RECEPTION_TIME" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <textarea id="receptionTimeKaa" pInputTextarea formControlName="receptionTimeKaa"></textarea>
    </div>
  
    <div class="field">
      <label for="photo">{{"PHOTO" | translate}}</label>
      <input id="photo" type="file" pInputText (change)="onFileSelect($event)" />
    </div>

    <!-- Buttons -->
    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
      <button pButton label="{{'CANCEL' | translate}}" icon="pi pi-times" (click)="onCancel()"></button>
      <button pButton label="{{'UPDATE' | translate}}" icon="pi pi-check" (click)="onUpdate()" [disabled]="employeeForm.invalid"></button>
    </div>
  </div>
  