<div class="p-fluid" [formGroup]="postForm">
    <div class="field">
      <label for="NameUz">Name (Uzbek)</label>
      <input id="NameUz" pInputText formControlName="NameUz" />
    </div>
  
    <div class="field">
      <label for="NameEn">Name (English)</label>
      <input id="NameEn" pInputText formControlName="NameEn" />
    </div>
  
    <div class="field">
      <label for="NameRu">Name (Russian)</label>
      <input id="NameRu" pInputText formControlName="NameRu" />
    </div>
  
    <div class="field">
      <label for="NameUzRu">Name (Cyrillic Uzbek)</label>
      <input id="NameUzRu" pInputText formControlName="NameUzRu" />
    </div>
  
    <div class="field">
      <label for="NameKaa">Name (Karakalpak)</label>
      <input id="NameKaa" pInputText formControlName="NameKaa" />
    </div>
  
    <div class="field">
      <label for="DescriptionUz">Description (Uzbek)</label>
      <textarea id="DescriptionUz" pInputTextarea formControlName="DescriptionUz"></textarea>
    </div>
  
    <div class="field">
      <label for="DescriptionEn">Description (English)</label>
      <textarea id="DescriptionEn" pInputTextarea formControlName="DescriptionEn"></textarea>
    </div>
  
    <div class="field">
      <label for="DescriptionRu">Description (Russian)</label>
      <textarea id="DescriptionRu" pInputTextarea formControlName="DescriptionRu"></textarea>
    </div>
  
    <div class="field">
      <label for="DescriptionUzRu">Description (Cyrillic Uzbek)</label>
      <textarea id="DescriptionUzRu" pInputTextarea formControlName="DescriptionUzRu"></textarea>
    </div>
  
    <div class="field">
      <label for="DescriptionKaa">Description (Karakalpak)</label>
      <textarea id="DescriptionKaa" pInputTextarea formControlName="DescriptionKaa"></textarea>
    </div>
  
    <div class="field">
      <label for="Category">Category</label>
      <input id="Category" pInputText formControlName="Category" />
    </div>
  
    <div class="field">
      <label for="Photo">Upload Photo</label>
      <input type="file" (change)="onFileChange($event)" />
    </div>
  
    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
      <button pButton pRipple label="Cancel" (click)="onCancel()"></button>
      <button pButton pRipple label="Add" (click)="onAdd()" [disabled]="postForm.invalid"></button>
    </div>
  </div>
  