<div class="p-fluid" [formGroup]="locationForm">
    <input id="id" type="hidden" formControlName="id" />
  
    <div class="field">
      <label for="nameUz">{{"TITLE" | translate}} ({{"UZBEK" | translate}})(Uzbek)</label>
      <input id="nameUz" type="text" pInputText formControlName="nameUz" />
    </div>
  
    <div class="field">
      <label for="nameEn">{{"TITLE" | translate}} ({{"ENGLISH" | translate}})</label>
      <input id="nameEn" type="text" pInputText formControlName="nameEn" />
    </div>
  
    <div class="field">
      <label for="nameRu">{{"TITLE" | translate}} ({{"RUSSIAN" | translate}})</label>
      <input id="nameRu" type="text" pInputText formControlName="nameRu" />
    </div>
  
    <div class="field">
      <label for="nameUzRu">{{"TITLE" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="nameUzRu" type="text" pInputText formControlName="nameUzRu" />
    </div>
  
    <div class="field">
      <label for="nameKaa">{{"TITLE" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <input id="nameKaa" type="text" pInputText formControlName="nameKaa" />
    </div>
  
    <div class="field">
      <label for="latitude">{{"LATTITUDE" | translate}}</label>
      <input id="latitude" type="text" pInputText formControlName="latitude" />
    </div>
  
    <div class="field">
      <label for="longitude">{{"LONGITUDE" | translate}}</label>
      <input id="longitude" type="text" pInputText formControlName="longitude" />
    </div>
  
    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
      <button pButton label="{{'CANCEL' | translate}}" icon="pi pi-times" (click)="onCancel()"></button>
      <button pButton label="{{'UPDATE' | translate}}" icon="pi pi-check" (click)="onSubmit()" [disabled]="locationForm.invalid"></button>
    </div>
</div>
  