<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>{{"CONTACT" | translate}}</h5>
			<p-table #dt1 [value]="contacts"
						dataKey="id" 
						[rows]="6" 
						[loading]="loading" 
						[rowHover]="true" 
						styleClass="p-datatable-gridlines" 
						[paginator]="true" 
						[globalFilterFields]="['name','country.name','representative.name','status']" 
						responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="{{'SEARCH_KEYWORD' | translate}}" class="w-full"/>
						</span>
                        <button pButton pRipple label="+ {{'APPEND' | translate}}" (click)="create()"></button>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								{{"ID" | translate}}
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								{{"NAME" | translate}}
							</div>
						</th>
						<th style="min-width: 14rem">
							<div class="flex justify-content-between align-items-center">
								{{"VALUE" | translate}}
							</div>
						</th>
						<th style="min-width: 12rem">
							<div class="flex justify-content-between align-items-center">
								{{"ACTIONS" | translate}}
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-contact>
					<tr>
						<td>
							{{contact.id}}
						</td>
						<td>
							<span class="image-text ml-2">{{contact.type.nameEn}}</span>
						</td>
						<td>
							<span class="image-text ml-2">{{contact.value}}</span>
						</td>
						<td>
							<div class="flex justify-content-around flex-column sm:flex-row">
								<p-button severity="success" icon="pi pi-pencil" (click)="update(contact)"></p-button>
								<p-button severity="danger" icon="pi pi-trash" (click)="delete(contact.id)"></p-button>
							</div>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">{{"NOTFOUND" | translate}}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">{{"WAIT" | translate}}</td>
					</tr>
				</ng-template>
    		</p-table>
		</div>
	</div>
</div>
