<p-confirmDialog></p-confirmDialog>
<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>{{"POSTS" | translate}} {{"AND" | translate}} {{"NEWS" | translate}}</h5>
		<p-dataView #dv 
					[value]="filteredPosts" 
					[paginator]="true" 
					[rows]="rows" 
					[totalRecords]="filteredPosts.length" 
					(onPage)="paginate($event)" 
					layout="grid">
		  
		  <ng-template pTemplate="header">
			<div class="flex flex-column md:flex-row md:justify-content-between gap-2">
			  <p-dropdown 
				[options]="postCategories" 
				[placeholder]="dropdownPlaceholder" 
				optionLabel="{{'NAME_PROPERTY' | translate}}"
				optionValue="id"
				(onChange)="onCategoryChange($event)">
			  </p-dropdown>
  
			  <span class="p-input-icon-left">
				<i class="pi pi-search"></i>
				<input type="search" pInputText placeholder="{{'SEARCH_KEYWORD' | translate}}" (input)="onFilter($event)">
			  </span>
  
			  <button pButton pRipple label="+ {{'APPEND' | translate}}" (click)="openCreatePostDialog()"></button>
			</div>
		  </ng-template>
  
		  <ng-template let-post pTemplate="gridItem">
			<div class="grid grid-nogutter">
			  <div class="col-12 md:col-4" *ngFor="let post of paginatedPosts">
				<div class="card m-3 border-1 surface-border">
				  <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
					<div class="flex align-items-center" (click)="openUpdatePostDialog(post)">
					  <i class="pi pi-pencil"></i>
					</div>
					<div class="flex align-items-center" (click)="deletePost(post.id)">
					  <i class="pi pi-trash"></i>
					</div>
				  </div>
				  <div class="flex flex-column align-items-center text-center mb-3">

					<div *ngIf="post.images[0] && !post.photo">
						<ng-container *ngIf="isVideoFile(post.images[0].name); else imageTemplate">
						  <video [src]="getMedia(post.images[0].name)" controls class="w-9 shadow-2 my-3 mx-0"></video>
						</ng-container>
						<ng-template #imageTemplate>
						  <img [src]="getMedia(post.images[0].name)" class="w-9 shadow-2 my-3 mx-0" [alt]="Image" />
						</ng-template>
					</div>

					<div *ngIf="!post.images[0] && post.photo">
						<ng-container *ngIf="isVideoFile(post.photo); else imageTemplate">
							<video [src]="getMedia(post.photo)" controls class="w-9 shadow-2 my-3 mx-0"></video>
						</ng-container>
						<ng-template #imageTemplate>
							<img [src]="getMedia(post.photo)" class="w-9 shadow-2 my-3 mx-0" [alt]="Image" />
						</ng-template>
					</div>

					<div class="text-2xl font-bold">{{ post[('NAME_PROPERTY' | translate)]}}</div>
					<div class="mb-3">{{post['DESCRIPTION_PROPERTY' | translate] | slice:0:300}} ...</div>
					<div class="flex justify-content-between gap-2">
                      <div class="text-sm text-gray-500">{{ post.createdAt | date: 'dd.MM.yyyy HH:MM' }}</div>
                    </div>
				  </div>
				</div>
			  </div>
			</div>
		  </ng-template>
		</p-dataView>
	  </div>
	</div>
  </div>
  