<div class="p-fluid" [formGroup]="updatePostForm">
    <div class="field">
      <label for="nameUz">{{"TITLE" | translate}} ({{"UZBEK" | translate}})</label>
      <input id="nameUz" pInputText formControlName="nameUz" />
    </div>
  
    <div class="field">
      <label for="nameEn">{{"TITLE" | translate}} ({{"ENGLISH" | translate}})</label>
      <input id="nameEn" pInputText formControlName="nameEn" />
    </div>
  
    <div class="field">
      <label for="nameRu">{{"TITLE" | translate}} ({{"RUSSIAN" | translate}})</label>
      <input id="nameRu" pInputText formControlName="nameRu" />
    </div>
  
    <div class="field">
      <label for="nameUzRu">{{"TITLE" | translate}} ({{"CYRILLIC" | translate}})</label>
      <input id="nameUzRu" pInputText formControlName="nameUzRu" />
    </div>
  
    <div class="field">
      <label for="nameKaa">{{"TITLE" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <input id="nameKaa" pInputText formControlName="nameKaa" />
    </div>
  
    <div class="field">
      <label for="descriptionUz">{{"DESCRIPTION" | translate}} ({{"UZBEK" | translate}})</label>
      <textarea id="descriptionUz" pInputTextarea formControlName="descriptionUz"></textarea>
    </div>
  
    <div class="field">
      <label for="descriptionEn">{{"DESCRIPTION" | translate}} ({{"ENGLISH" | translate}})</label>
      <textarea id="descriptionEn" pInputTextarea formControlName="descriptionEn"></textarea>
    </div>
  
    <div class="field">
      <label for="descriptionRu">{{"DESCRIPTION" | translate}} ({{"RUSSIAN" | translate}})</label>
      <textarea id="descriptionRu" pInputTextarea formControlName="descriptionRu"></textarea>
    </div>
  
    <div class="field">
      <label for="descriptionUzRu">{{"DESCRIPTION" | translate}} ({{"CYRILLIC" | translate}})</label>
      <textarea id="descriptionUzRu" pInputTextarea formControlName="descriptionUzRu"></textarea>
    </div>
  
    <div class="field">
      <label for="descriptionKaa">{{"DESCRIPTION" | translate}} ({{"KARAKALPAK" | translate}})</label>
      <textarea id="descriptionKaa" pInputTextarea formControlName="descriptionKaa"></textarea>
    </div>
  
    <!-- Photo Upload -->
    <div class="field">
      <label for="photo">{{"PHOTO" | translate}}</label>
      <input id="photo" type="file" (change)="onFileChange($event)" />
    </div>
  
    <!-- Action Buttons -->
    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
      <button pButton pRipple label="{{'CANCEL' | translate}}" (click)="onCancel()"></button>
      <button pButton pRipple label="{{'UPDATE' | translate}}" (click)="onUpdate()" [disabled]="updatePostForm.invalid"></button>
    </div>
</div>
