<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="../../assets/layout/images/logo_olmazor.ico" alt="logo">
        <span>Olmazor tumani</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>
    <p-toast />

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">

        <!-- Language Menu -->
        <p-menu #languageMenu [popup]="true" [model]="languageOptions" appendTo="body"></p-menu>
        <button class="p-link layout-topbar-button" (click)="languageMenu.toggle($event)">
            <i class="pi pi-language"></i>
            <span>Language</span>
        </button>

        <!-- Profile Menu -->
        <p-menu #profileMenu [popup]="true" [model]="profileOptions" appendTo="body"></p-menu>
        <button class="p-link layout-topbar-button" (click)="profileMenu.toggle($event)">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
    </div>
</div>
