<div class="p-fluid" [formGroup]="contactForm">
    <div class="field">
      <label for="type">{{"CATEGORY" | translate}}</label>
      <p-dropdown id="type" 
        formControlName="type" 
        [options]="types" 
        placeholder="{{'SELECT' | translate}}"
        optionLabel="{{'NAME_PROPERTY' | translate}}"
        optionValue="id"
       ></p-dropdown>
    </div>

    <div class="field">
      <label for="value">{{"VALUE" | translate}}</label>
      <textarea pInputTextarea id="value" type="text" pInputText formControlName="value"></textarea>
    </div>
  
    <div class="flex flex-column md:flex-row md:justify-content-between gap-2">
      <button pButton pRipple label="{{'CANCEL' | translate}}" (click)="onCancel()"></button>
      <button pButton pRipple label="{{'UPDATE' | translate}}" (click)="onUpdate()" [disabled]="contactForm.invalid"></button>
    </div>
  </div>
  