<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>{{"ABOUT" | translate}}</h5>
		<p-dataView #dv 
					[value]="filteredAboutList" 
					[paginator]="true" 
					[rows]="rows"
					[totalRecords]="filteredAboutList.length" 
					(onPage)="paginate($event)"
					layout="grid">
		  <ng-template pTemplate="header">
			<div class="flex flex-column md:flex-row md:justify-content-between gap-2">
			  <span class="p-input-icon-left">
				<i class="pi pi-search"></i>
				<input type="search" pInputText placeholder="{{'SEARCH_KEYWORD' | translate}}" (input)="onFilter($event)">
			  </span>
			  <button pButton pRipple label="+ {{'APPEND' | translate}}" (click)="openCreateAboutDialog()"></button>
			</div>
		  </ng-template>
  
		  <ng-template let-product pTemplate="gridItem">
			<div class="grid grid-nogutter">
			  <div class="col-12 md:col-4" *ngFor="let product of paginatedAboutList">
				<div class="card m-3 border-1 surface-border">
				  <div class="flex flex-wrap gap-2 align-items-center justify-content-between mb-2">
					<div class="flex align-items-center" (click)="openUpdateAboutDialog(product.id)">
					  <i class="pi pi-pencil"></i>
					</div>
					<div class="flex align-items-center" (click)="deleteAbout(product.id)">
					  <i class="pi pi-trash"></i>
					</div>
				  </div>
				  <div class="flex flex-column align-items-center text-center mb-3">
					<div class="text-2xl font-bold">{{ product[('RECEPTION_TIME_PROPERTY' | translate)] }}</div>
					<div class="mb-3">{{ product[('DESCRIPTION_PROPERTY' | translate)] }}</div>
				  </div>				  
				</div>
			  </div>
			</div>
		  </ng-template>
		  
		</p-dataView>
	  </div>
	</div>
  </div>
  