<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>{{"USERS" | translate}}</h5>
		<p-table #dt1 [value]="users" dataKey="Id" [rows]="6" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['FirstnameEn', 'LastnameEn', 'Phone1', 'PositionEn']" responsiveLayout="scroll">
		  
		  <!-- Caption for sorting and searching -->
		  <ng-template pTemplate="caption">
			<div class="flex justify-content-between flex-column sm:flex-row">
			  <span class="p-input-icon-left mb-2">
				<i class="pi pi-search"></i>
				<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="{{'SEARCH_KEYWORD' | translate}}" class="w-full" />
			  </span>
			  <button pButton pRipple label="+ {{'APPEND' | translate}}" (click)="create()"></button>
			</div>
		  </ng-template>
  
		  <!-- Header for table columns -->
		  <ng-template pTemplate="header">
			<tr>
			  <th style="min-width: 12rem">{{"FULL_NAME" | translate}}</th>
			  <th style="min-width: 14rem">{{"EMAIL" | translate}}</th>
			  <th style="min-width: 10rem">{{"PHONE_NUMBER" | translate}}</th>
			  <th style="min-width: 10rem">{{"USER_ROLE" | translate}}</th>
			  <th style="min-width: 12rem">{{"ACTIONS" | translate}}</th>
			</tr>
		  </ng-template>
  
		  <!-- Table body that maps employees data -->
		  <ng-template pTemplate="body" let-employee>
			<tr>

				<td style="display: flex; align-items: center;">
					<div *ngIf="employee?.photo">
						<img [src]="getPhoto(employee.photo)" alt="employee photo" style="margin-right: 10px; height: 50px; width: auto;">
					</div>
					<div>
						{{ employee[('FIRST_NAME_PROPERTY' | translate)] }} <br> {{ employee[('LAST_NAME_PROPERTY' | translate)] }}
					</div>
				</td>    
  
			  <!-- Phone (using Phone1 field) -->
			  <td>{{ employee.email }}</td>
  
			  <!-- Birthdate (formatted as MM/dd/yyyy) -->
			  <td>{{ employee.phone1 }}<br> {{employee.phone2}}</td>
  
			  <!-- Position (using PositionEn) -->
			  <td>{{ employee.userrole[('NAME_PROPERTY' | translate)] }}</td>
  
			  <!-- Action buttons (edit and delete) -->
			  <td>
				<div class="flex justify-content-around flex-column sm:flex-row">
				  <p-button severity="success" icon="pi pi-pencil" (click)="update(employee)"></p-button>
				  <p-button severity="danger" icon="pi pi-trash" (click)="delete(employee.id)"></p-button>
				</div>
			  </td>
			</tr>
		  </ng-template>
  
		  <!-- Empty message when no employees found -->
		  <ng-template pTemplate="emptymessage">
			<tr>
			  <td colspan="6">{{"NOTFOUND" | translate}}</td>
			</tr>
		  </ng-template>
  
		  <!-- Loading state message -->
		  <ng-template pTemplate="loadingbody">
			<tr>
			  <td colspan="6">{{"WAIT" | translate}}</td>
			</tr>
		  </ng-template>
		</p-table>
	  </div>
	</div>
  </div>
  